@font-face {
  font-family: "Ubuntu Mono";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ubuntumono/v9/KFOjCneDtsqEr0keqCMhbCc0CsI.woff) format("woff");
  font-display: swap;
  unicode-range: WOFF2;
}
@font-face {
  font-family: "Ubuntu Mono";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/ubuntumono/v9/KFO-CneDtsqEr0keqCMhbC-BL9H7tYs.woff) format("woff");
  font-display: swap;
  unicode-range: WOFF2;
}
@font-face {
  font-family: "Ubuntu Mono";
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ubuntumono/v9/KFOhCneDtsqEr0keqCMhbCc_OsjSlg.woff) format("woff");
  font-display: swap;
  unicode-range: WOFF2;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WdhzQ.woff) format("woff");
  font-display: swap;
  unicode-range: WOFF2;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gfD-A.woff) format("woff");
  font-display: swap;
  unicode-range: WOFF2;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gfD-A.woff) format("woff");
  font-display: swap;
  unicode-range: WOFF2;
}
@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v14/JTUQjIg1_i6t8kCHKm459WxRxy7g.woff) format("woff");
  font-display: swap;
  unicode-range: WOFF2;
}
/*! modern-normalize | MIT License | https://github.com/sindresorhus/modern-normalize */
/* Document
   ========================================================================== */
/**
 * Use a better box model (opinionated).
 */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Use a more readable tab size (opinionated).
 */
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
 * Correct the line height in all browsers.
 */
html {
  line-height: 1.15;
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct height in Firefox.
 */
hr {
  height: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Add the correct text decoration in Chrome, Edge, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Remove the inheritance of text transform in Edge and Firefox.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome and Firefox.
 */
progress {
  vertical-align: baseline;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Chrome and Safari.
 */
summary {
  display: list-item;
}

body {
  border-top: 4px solid #3375cc;
  background: #fff;
}

@media all and (min-width: 36em) {
  body {
    background: #efefef;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a:focus {
  outline: 0;
}

hr {
  display: block;
  width: 2.5em;
  height: 4px;
  margin: 0 0 1rem 0;
  border: 0;
  background-color: #3375cc;
}

html {
  font-size: 112.5%;
}

@media all and (min-width: 48em) {
  html {
    font-size: 125%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #494949;
}

p, h1, h2, h3, h4, h5, h6, li, th, td, a {
  word-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.site-container {
  max-width: 48em;
  margin: 0 auto;
}

.site-container__inner {
  padding: 0 1rem;
}

.site-header {
  display: -webkit-box;
  display: flex;
  padding: 1rem;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.site-header__nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.site-header__link {
  padding: 0;
  margin: 0;
  -webkit-box-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.2;
  color: #3375cc;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.site-header__link:visited {
  color: #3375cc;
}

.site-header__link:hover, .site-header__link:focus {
  color: #636363;
}

.site-header__nav-item {
  padding: 0.25rem;
  font-size: 1em;
  color: #2f2f2f;
  background: -webkit-gradient(linear, left top, left bottom, from(#3375cc), to(#3375cc));
  background: linear-gradient(to bottom, #3375cc 0%, #3375cc 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  text-decoration: none;
  -webkit-transition: background-size 0.2s ease-in-out, color 0.2s;
  transition: background-size 0.2s ease-in-out, color 0.2s;
}

.site-header__nav-item:visited {
  color: #2f2f2f;
}

.site-header__nav-item:hover, .site-header__nav-item:focus {
  color: #fff;
  background-size: 4px 100%;
}

.site-header__nav-item.active {
  color: #fff;
  background-size: 4px 100%;
}

.site-intro {
  padding: 0 0 2rem;
}

@media all and (min-width: 48em) {
  .site-intro {
    padding: 1rem 0 2rem;
  }
}

@media all and (min-width: 62em) {
  .site-intro {
    padding: 2rem 0 4rem;
  }
}

.site-intro__title {
  margin: 0 0 1.3rem;
  font-size: 1.414em;
}

@media all and (min-width: 48em) {
  .site-intro__title {
    font-size: 1.999em;
  }
}

.site-intro__content > p {
  margin: 0 0 1.3rem;
  font-size: 1em;
}

@media all and (min-width: 48em) {
  .site-intro__content > p {
    font-size: 1.414em;
  }
}

@media all and (min-width: 62em) {
  .site-intro__content > p {
    font-size: 1.999em;
  }
}

.site-intro__content > p:last-child {
  margin-bottom: 0;
}

.site-intro__content > p a {
  background-color: transparent;
  color: #224572;
  text-decoration: none;
  border-bottom: 0.1em solid #b8d0ef;
  box-shadow: inset 0 -0.3em 0 #b8d0ef;
  word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-transition: background 0.2s cubic-bezier(0.33, 0.66, 0.66, 1);
  transition: background 0.2s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.site-intro__content > p a:visited {
  color: #737373;
}

.site-intro__content > p a:hover, .site-intro__content > p a:active, .site-intro__content > p a:focus {
  background-color: #b8d0ef;
  color: #171717;
}

.site-footer {
  padding: 2rem 0 1rem;
}

@media all and (min-width: 48em) {
  .site-footer {
    padding: 4rem 0 1rem;
  }
}

.site-footer a {
  background-color: transparent;
  color: #224572;
  text-decoration: none;
  border-bottom: 0.1em solid #b8d0ef;
  box-shadow: inset 0 -0.3em 0 #b8d0ef;
  word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-transition: background 0.2s cubic-bezier(0.33, 0.66, 0.66, 1);
  transition: background 0.2s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.site-footer a:visited {
  color: #737373;
}

.site-footer a:hover, .site-footer a:active, .site-footer a:focus {
  background-color: #b8d0ef;
  color: #171717;
}

.site-footer__copyright {
  margin: 0;
  text-align: center;
}

.site-footer__hugo-logo {
  display: inline-block;
  vertical-align: middle;
  border: 0 !important;
  box-shadow: unset !important;
}

.pagination {
  margin: 2rem 0 0;
}

.pagination__count {
  display: block;
  text-align: center;
}

.pagination__count::before {
  content: "";
  display: block;
  width: 2.5em;
  height: 4px;
  margin: 0 auto 1rem;
  background-color: #3375cc;
}

.pagination__ctrl {
  display: -webkit-box;
  display: flex;
  margin-bottom: 2rem;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.pagination__nav {
  display: inline-block;
  padding: 0.5rem 0.25rem;
  margin-bottom: 0;
  background-color: #3375cc;
  border-color: #3375cc;
  border-width: 4px;
  border-style: solid;
  border-radius: 4px;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;
  color: #fff;
  cursor: pointer;
  -webkit-transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-box-flex: 0;
          flex: 0 1;
}

@media all and (min-width: 48em) {
  .pagination__nav {
    padding: 1rem 0.5rem;
  }
}

.pagination__nav:hover, .pagination__nav:focus {
  color: #3375cc;
  background-color: transparent;
  border-color: #3375cc;
  outline: 0;
}

.pagination__nav:active {
  color: #636363;
  background-color: transparent;
  border-color: #636363;
  outline: 0;
}

.pagination__nav[disabled] {
  color: #737373;
  background-color: #9a9a9a;
  border-color: #9a9a9a;
  cursor: not-allowed;
}

.pagination__nav[disabled]:hover {
  color: #737373;
  background-color: #9a9a9a;
  border-color: #9a9a9a;
}

.pagination__nav::before {
  display: none;
}

.pagination__nav:visited {
  color: #fff;
}

.pagination__nav:hover, .pagination__nav:active, .pagination__nav:focus {
  color: #3375cc;
}

.pagination__nav:hover > .pagination__nav-icon .pagination__nav-icon-path,
.pagination__nav:focus > .pagination__nav-icon .pagination__nav-icon-path {
  fill: #3375cc;
}

.pagination__nav:hover > .pagination__nav-icon .pagination__nav-icon-path,
.pagination__nav:focus > .pagination__nav-icon .pagination__nav-icon-path {
  fill: #3375cc;
}

.pagination__nav + .pagination__nav {
  margin-left: 0.25rem;
}

@media all and (min-width: 48em) {
  .pagination__nav + .pagination__nav {
    margin-left: 0.5rem;
  }
}

.pagination__nav--number {
  display: none;
}

@media all and (min-width: 36em) {
  .pagination__nav--number {
    display: inline-block;
  }
}

.pagination__nav--older {
  padding-left: 0.75rem;
}

.pagination__nav--newer {
  padding-right: 0.75rem;
}

.pagination__nav--active {
  border-color: #192d48;
  background-color: #2f2f2f;
}

.pagination__nav--active:hover, .pagination__nav--active:active, .pagination__nav--active:focus {
  border-color: #192d48;
  background-color: #2f2f2f;
  color: #fff;
}

.pagination__nav--disabled {
  color: #636363;
  pointer-events: none;
  cursor: auto;
  background-color: #d2d2d2;
  border-color: #d2d2d2;
}

.pagination__nav--disabled:visited {
  color: #636363;
}

.pagination__nav-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: bottom;
}

.pagination__nav-icon-path {
  fill: #fff;
  -webkit-transition: fill 0.2s;
  transition: fill 0.2s;
}

.pagination__nav-icon-path--disabled {
  fill: #636363;
}

.post {
  padding: 1.5rem 0;
  border-top: 4px solid #3375cc;
}

@media all and (min-width: 36em) {
  .post {
    margin: 1rem 1rem 0;
    padding: 2rem;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.1), 0 0 2px 2px rgba(0, 0, 0, 0.1);
  }
}

@media all and (min-width: 48em) {
  .post {
    margin: 2rem 3rem 0;
  }
}

@media all and (min-width: 36em) {
  .post + .post {
    margin-top: 2rem;
  }
}

.post__header {
  padding: 0 0 1.5rem 0;
}

@media all and (min-width: 36em) {
  .post__header {
    padding: 0 0 1rem 0;
  }
}

.post__title {
  display: block;
  margin: 0 0 0.5rem 0;
  color: #3375cc;
  font-size: 1.414em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

@media all and (min-width: 36em) {
  .post__title {
    font-size: 1.999em;
  }
}

.post__title--flex {
  -webkit-box-flex: 1;
          flex: 1;
}

.post__title--single {
  color: #636363;
}

.post__title:visited {
  color: #636363;
}

.post__title:hover, .post__title:focus {
  outline: 0;
  color: #3375cc;
}

.post h1.post__title:hover {
  color: #636363;
}

.post__meta {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-align: center;
          align-items: center;
}

@media all and (min-width: 48em) {
  .post__meta {
    flex-wrap: nowrap;
  }
}

.post__date, .post__read-time {
  display: -webkit-box;
  display: flex;
  padding: 0 0.75rem 0 0;
  -webkit-box-align: center;
          align-items: center;
  font-size: 1em;
  white-space: nowrap;
  color: #737373;
}

@media all and (min-width: 48em) {
  .post__date, .post__read-time {
    padding: 0 1rem 0 0;
    font-size: 0.707em;
  }
}

.post__date-icon, .post__read-time-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 0.25rem;
  vertical-align: text-bottom;
}

.post__meta-icon {
  fill: #3375cc;
}

.post__categories {
  display: -webkit-box;
  display: flex;
  padding: 0;
  margin: 0;
  -webkit-box-align: center;
          align-items: center;
  list-style: none;
}

@media all and (min-width: 48em) {
  .post__categories {
    margin-right: 1.5rem;
  }
}

.post__category {
  -webkit-box-flex: 0;
          flex: 0 1 auto;
}

.post__category + .post__category {
  margin-left: 0.25rem;
}

.post__category-link {
  display: inline-block;
  padding: 0.5rem 0.25rem;
  margin-bottom: 0;
  background-color: #3375cc;
  border-color: #3375cc;
  border-width: 4px;
  border-style: solid;
  border-radius: 4px;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;
  color: #fff;
  cursor: pointer;
  -webkit-transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  padding: 0.25rem 0.5rem;
  border-width: 2px;
  font-size: 0.75em;
  display: -webkit-box;
  display: flex;
}

@media all and (min-width: 48em) {
  .post__category-link {
    padding: 1rem 0.5rem;
  }
}

.post__category-link:hover, .post__category-link:focus {
  color: #3375cc;
  background-color: transparent;
  border-color: #3375cc;
  outline: 0;
}

.post__category-link:active {
  color: #636363;
  background-color: transparent;
  border-color: #636363;
  outline: 0;
}

.post__category-link[disabled] {
  color: #737373;
  background-color: #9a9a9a;
  border-color: #9a9a9a;
  cursor: not-allowed;
}

.post__category-link[disabled]:hover {
  color: #737373;
  background-color: #9a9a9a;
  border-color: #9a9a9a;
}

.post__category-link::before {
  display: none;
}

@media all and (min-width: 48em) {
  .post__category-link {
    padding: 0.25rem 0.5rem;
  }
}

.post__footer {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

@media all and (min-width: 36em) {
  .post__footer {
    padding-top: 2rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: wrap;
  }
}

.post__footer:empty {
  display: none;
}

.post__tags {
  display: -webkit-box;
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  list-style: none;
}

.post__tag {
  margin-right: 0.5rem;
  -webkit-box-flex: 0;
          flex: 0 1 auto;
}

.post__tag-link {
  margin: 0;
  padding: 0;
  font-size: 0.75em;
  font-weight: 600;
  color: #737373;
  white-space: nowrap;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.post__tag-link:visited {
  color: #737373;
}

.post__tag-link:hover, .post__tag-link:focus {
  outline: 0;
  color: #3375cc;
}

@media all and (min-width: 36em) {
  .post__tag-link {
    font-size: 1em;
  }
}

.post__tag-label {
  color: #3375cc;
}

.post__tag-link:visited .post__tag-label {
  color: #737373;
}

.post__truncated {
  margin: 1rem 0;
  -webkit-box-ordinal-group: 0;
          order: -1;
}

@media all and (min-width: 36em) {
  .post__truncated {
    margin: 0 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 1 auto;
    -webkit-box-ordinal-group: unset;
            order: unset;
  }
}

.post__read-more {
  display: -webkit-box;
  display: flex;
  color: #3375cc;
  -webkit-box-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.post__read-more:visited {
  color: #9a9a9a;
}

.post__read-more:hover, .post__read-more:active, .post__read-more:focus {
  color: #2f2f2f;
}

.post__read-more-label {
  white-space: nowrap;
}

.post__read-more-icon {
  width: 20px;
  height: 20px;
  fill: #3375cc;
  -webkit-transition: fill 0.2s;
  transition: fill 0.2s;
}

.post__read-more:visited .post__read-more-icon {
  fill: #9a9a9a;
}

.post--compact {
  padding: 1rem 0;
  margin-top: 0;
}

@media all and (min-width: 36em) {
  .post--compact {
    padding: 1rem;
  }
}

.post--compact + .post--compact {
  margin-top: 0;
}

@media all and (min-width: 36em) {
  .post--compact + .post--compact {
    margin-top: 1rem;
  }
}

.post--single {
  border-top: 0;
  padding-bottom: 0;
}

@media all and (min-width: 48em) {
  .post--single {
    padding-bottom: 1.5rem;
  }
}

.post-content {
  word-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.post-content > :first-child {
  margin-top: 0 !important;
  margin-left: 0 !important;
}

.post-content > :last-child {
  margin-bottom: 0 !important;
  margin-right: 0 !important;
}

.post-content p {
  margin: 0 0 1.3rem;
}

.post-content h1, .post-content h2, .post-content h3, .post-content h4 {
  margin: 1.414em 0 0.5em;
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
  color: #636363;
}

.post-content h1 {
  font-size: 1.999em;
  font-weight: 700;
  color: #192d48;
}

@media all and (min-width: 36em) {
  .post-content h1 {
    font-size: 2.827em;
  }
}

.post-content h2 {
  font-size: 1.414em;
  font-weight: 700;
  color: #224572;
}

@media all and (min-width: 36em) {
  .post-content h2 {
    font-size: 1.999em;
  }
}

.post-content h3 {
  font-size: 1.414em;
  font-weight: 700;
}

.post-content h4 {
  font-size: 1em;
  font-weight: 700;
}

.post-content h5, .post-content h6 {
  margin: 1.414em 0 0.5em;
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
}

.post-content h5 {
  font-size: 0.707em;
  font-weight: 600;
  color: #636363;
}

.post-content h6 {
  font-size: 0.707em;
  font-weight: 600;
  color: #737373;
}

.post-content a {
  background-color: transparent;
  color: #224572;
  text-decoration: none;
  border-bottom: 0.1em solid #b8d0ef;
  box-shadow: inset 0 -0.3em 0 #b8d0ef;
  word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-transition: background 0.2s cubic-bezier(0.33, 0.66, 0.66, 1);
  transition: background 0.2s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.post-content a:visited {
  color: #737373;
}

.post-content a:hover, .post-content a:active, .post-content a:focus {
  background-color: #b8d0ef;
  color: #171717;
}

.post-content sup a,
.post-content sub a {
  border-bottom: 0;
}

.post-content sup a::before,
.post-content sub a::before {
  display: none;
}

.post-content ul,
.post-content ol {
  margin: 0 0 1.3rem;
  padding: 0 0 0 1.3rem;
}

.post-content ul li,
.post-content ol li {
  font-size: 1em;
}

.post-content small {
  font-size: 0.5em;
}

.post-content strong {
  font-weight: 700;
  color: #192d48;
}

.post-content em {
  font-style: italic;
}

.post-content del {
  color: #737373;
}

.post-content sub,
.post-content sup {
  font-size: 0.5em;
}

.post-content kbd > kbd {
  background-color: #e6eef9;
  border-radius: 4px;
  border: 1px solid #8cb2e3;
  color: #494949;
  display: inline-block;
  font-size: .85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 5px;
  white-space: nowrap;
}

.post-content blockquote {
  margin: 0 0 1.3rem;
  padding: 1rem;
  background-color: #b8d0ef;
  border-radius: 4px;
  border-left: 4px solid #3375cc;
}

.post-content blockquote p {
  color: #0f161f;
}

.post-content blockquote p:last-child {
  margin-bottom: 0;
}

.post-content p code,
.post-content li code {
  padding: 1px 3px;
  background-color: #e6eef9;
  border-radius: 3px;
}

.post-content .highlight {
  margin: 0 0 1.3rem;
}

.post-content dl {
  margin: 0 0 1.3rem;
}

.post-content dl > dt {
  font-weight: bold;
  text-decoration: underline;
}

.post-content table {
  margin-bottom: 1rem;
  font-feature-settings: lining-nums tabular-nums;
  font-variant-numeric: lining-nums tabular-nums;
  border-collapse: collapse;
}

.post-content td, .post-content th {
  padding: 0.5rem 0.75rem;
  text-align: left;
  line-height: 1;
}

.post-content th {
  border-bottom: 4px solid #3375cc;
}

.post-content tr:nth-child(even) td {
  background-color: #b8d0ef;
}

.post-content img {
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  padding: 0.5rem;
}

.post-content img + img {
  margin-top: 1.5rem;
}

.post-content figure {
  margin: 0 0 1.5rem 0;
}

.post-content figure > img {
  margin: 0 auto;
}

.post-content figure figcaption {
  padding: 0.5rem 1rem 0;
  font-size: 0.875em;
}

.post-content figure figcaption h4 {
  margin: 0;
  color: #224572;
  font-weight: 400;
  text-align: center;
  font-style: italic;
}

.post-content mark {
  background-color: #ffcb05;
}

.no-js .post-content pre:not(.chroma) {
  padding: 0.5rem;
  color: #0f161f;
  background-color: #b8d0ef;
}

.post-content pre {
  margin: 0 0 1.3rem;
  border-radius: 3px;
  overflow: auto;
}

.post-content code {
  font-family: "Ubuntu Mono", monospace;
}

.post-content pre code {
  font-size: 1em;
  line-height: 1.2;
}

.post-siblings {
  margin: 2rem 0 0;
}

.post-siblings__more {
  display: block;
  text-align: center;
}

.post-siblings__more::before {
  content: "";
  display: block;
  width: 2.5em;
  height: 4px;
  margin: 0 auto 1rem;
  background-color: #3375cc;
}

.post-siblings__ctrl {
  display: -webkit-box;
  display: flex;
  margin-bottom: 2rem;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.post-siblings__nav {
  display: inline-block;
  padding: 0.5rem 0.25rem;
  margin-bottom: 0;
  background-color: #3375cc;
  border-color: #3375cc;
  border-width: 4px;
  border-style: solid;
  border-radius: 4px;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;
  color: #fff;
  cursor: pointer;
  -webkit-transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-box-flex: 0;
          flex: 0 1;
}

@media all and (min-width: 48em) {
  .post-siblings__nav {
    padding: 1rem 0.5rem;
  }
}

.post-siblings__nav:hover, .post-siblings__nav:focus {
  color: #3375cc;
  background-color: transparent;
  border-color: #3375cc;
  outline: 0;
}

.post-siblings__nav:active {
  color: #636363;
  background-color: transparent;
  border-color: #636363;
  outline: 0;
}

.post-siblings__nav[disabled] {
  color: #737373;
  background-color: #9a9a9a;
  border-color: #9a9a9a;
  cursor: not-allowed;
}

.post-siblings__nav[disabled]:hover {
  color: #737373;
  background-color: #9a9a9a;
  border-color: #9a9a9a;
}

.post-siblings__nav::before {
  display: none;
}

.post-siblings__nav:hover > .post-siblings__nav-icon .post-siblings__nav-icon-previous,
.post-siblings__nav:focus > .post-siblings__nav-icon .post-siblings__nav-icon-previous {
  fill: #3375cc;
}

.post-siblings__nav:hover > .post-siblings__nav-icon .post-siblings__nav-icon-next,
.post-siblings__nav:focus > .post-siblings__nav-icon .post-siblings__nav-icon-next {
  fill: #3375cc;
}

.post-siblings__nav + .post-siblings__nav {
  margin-left: 0.25rem;
}

@media all and (min-width: 48em) {
  .post-siblings__nav + .post-siblings__nav {
    margin-left: 0.5rem;
  }
}

.post-siblings__nav--previous {
  padding-left: 1rem;
}

.post-siblings__nav--next {
  padding-right: 1rem;
}

.post-siblings__nav-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.post-siblings__nav-icon-previous, .post-siblings__nav-icon-next {
  fill: #fff;
  -webkit-transition: fill 0.2s;
  transition: fill 0.2s;
}

.page__title {
  margin: 0 0 1.3rem;
  font-size: 1.414em;
}

@media all and (min-width: 48em) {
  .page__title {
    font-size: 1.999em;
  }
}

.page__content p, .page__content ul, .page__content ol {
  margin: 0 0 1.3rem;
}

@media all and (min-width: 36em) {
  .page__content p, .page__content ul, .page__content ol {
    margin: 0 1rem 1.3rem;
  }
}

@media all and (min-width: 48em) {
  .page__content p, .page__content ul, .page__content ol {
    margin: 0 3em 1.3em;
  }
}

.page__content p:first-of-type {
  margin: 0 0 1.3rem;
  font-size: 1.414em;
}

.page__content a {
  background-color: transparent;
  color: #224572;
  text-decoration: none;
  border-bottom: 0.1em solid #b8d0ef;
  box-shadow: inset 0 -0.3em 0 #b8d0ef;
  word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-transition: background 0.2s cubic-bezier(0.33, 0.66, 0.66, 1);
  transition: background 0.2s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.page__content a:visited {
  color: #737373;
}

.page__content a:hover, .page__content a:active, .page__content a:focus {
  background-color: #b8d0ef;
  color: #171717;
}

.taxonomy__title {
  margin: 0;
  padding-top: 1.5rem;
  font-size: 1.414rem;
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
  text-align: center;
}

@media all and (min-width: 48em) {
  .taxonomy__title {
    padding-top: 2rem;
    font-size: 1.999rem;
  }
}

.taxonomy__type {
  color: #636363;
}

.taxonomy__name {
  display: inline-block;
  margin: 0.25rem 0 0 0;
  padding: 0.15em 0.3em;
  color: #192d48;
  font-size: 1.999rem;
  background-color: #b8d0ef;
  border-radius: 4px;
}

@media all and (min-width: 48em) {
  .taxonomy__name {
    margin-top: 0.5rem;
  }
}

.taxonomy__intro {
  padding-top: 1rem;
}

.taxonomy__intro > p {
  margin: 0 0 1.3rem 0;
}

.taxonomy__intro > p:last-child {
  margin-bottom: 0;
}

.taxonomy__list {
  margin: 2rem 0 0 0;
  padding: 0;
  list-style: none;
}

.taxonomy__terms {
  display: -webkit-box;
  display: flex;
  margin: 2rem -0.5rem 0;
  padding: 0;
  flex-wrap: wrap;
  list-style: none;
}

.taxonomy__term {
  margin: 0 0 0.5rem 0.5rem;
}

.taxonomy__term-link {
  display: inline-block;
  padding: 0.5rem 0.25rem;
  margin-bottom: 0;
  background-color: #3375cc;
  border-color: #3375cc;
  border-width: 4px;
  border-style: solid;
  border-radius: 4px;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;
  color: #fff;
  cursor: pointer;
  -webkit-transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

@media all and (min-width: 48em) {
  .taxonomy__term-link {
    padding: 1rem 0.5rem;
  }
}

.taxonomy__term-link:hover, .taxonomy__term-link:focus {
  color: #3375cc;
  background-color: transparent;
  border-color: #3375cc;
  outline: 0;
}

.taxonomy__term-link:active {
  color: #636363;
  background-color: transparent;
  border-color: #636363;
  outline: 0;
}

.taxonomy__term-link[disabled] {
  color: #737373;
  background-color: #9a9a9a;
  border-color: #9a9a9a;
  cursor: not-allowed;
}

.taxonomy__term-link[disabled]:hover {
  color: #737373;
  background-color: #9a9a9a;
  border-color: #9a9a9a;
}

.taxonomy__term-link::before {
  display: none;
}

.taxonomy__term-count {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  margin-left: 0.5rem;
  color: #192d48;
  background-color: #e6eef9;
  border-radius: 2px;
}

/*# sourceMappingURL=style-cb0872bc.css.map */
